@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Julius Sans One");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Josefin Sans");
@import url("https://fonts.googleapis.com/css?family=Padauk");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  background-color: white;
}
.wrapper > .title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  font-family: Oxygen;
  margin: 8px 0;
}
.wrapper > .title > h4 {
  font-size: small;
  font-weight: 600;
  letter-spacing: 0.6px;
}
.wrapper > .title > h4 > i {
  font-size: 25px;
  color: #303030;
}
.wrapper > .title > .Social > a {
  padding: 8px 10px;
  margin: 0 5px;
  color: black;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
.wrapper > .title > .Social > a:hover {
  background-color: rgb(214, 42, 71);
  border-radius: 50%;
  color: white;
}
.header {
  background-color: #303030;
  display: grid;
  grid-template-columns: 20% 70% 10%;
  grid-template-areas: "Logo Nav Cart";
  padding: 0px 15px;
}
.header > .logo {
  grid-area: Logo;
}
.header > nav {
  grid-area: Nav;
}
.header > nav > ul {
  margin-top: 15px;
  list-style: none;
  float: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.header > nav > ul > li {
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}
.header > nav > ul > li:hover > ul {
  display: block;
  text-align: center;
}
.header > nav > ul > li > ul {
  min-width: 100%;
  background: #303030;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  font-family: Oxygen;
  padding: 10px 10px;
}
.header > nav > ul > li > ul > li > a {
  color: #f1f1f1;
  letter-spacing: 1.5px;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 20px;
  transition: 0.5s ease;
  font-family: Josefin Sans;
}
.header > nav > ul > li > ul > li > a:hover {
  text-decoration: none;
}
.header > nav > ul > li > a {
  color: #f9f9f9;
  letter-spacing: 1.5px;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 20px;
  transition: 0.5s ease;
  font-family: Josefin Sans;
}
.header > nav > ul > li:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(214, 42, 71);
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}
.header > nav > ul > li > a:hover {
  text-decoration: none;
  color: rgb(214, 42, 71);
}
.header > nav > ul > li:hover::after {
  width: 100%;
  left: 0;
}
.header > .cart {
  grid-area: Cart;
  position: relative;
  right: 25px;
}
.header > .cart > a {
  float: right;
  margin-top: 13px;
  font-size: 20px;
  color: whitesmoke;
}
.header > .cart > a > i > span {
  font-size: 13px;
  position: absolute;
  top: 10px;
  border-radius: 50%;
}

/* Humburger Menu */
.header > .cart > .menu-container {
  position: relative;
  top: 16px;
  right: 30px;
  z-index: 2;
  display: none;
}
.header > .cart > .menu-container > .toggler {
  position: absolute;
  top: 0;
  right: 30px;
  width: 30px;
  height: 25px;
  border-radius: 50%;
  opacity: 0;
  z-index: 3;
}
.header > .cart > .menu-container > .Humburger {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 50px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.header > .cart > .menu-container > .Humburger > div {
  position: absolute;
  width: 50%;
  height: 2px;
  border-radius: 1.5px;
  background-color: white;
  transition: 0.4s;
}
.header > .cart > .menu-container > .Humburger > div::before,
.header > .cart > .menu-container > .Humburger > div::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 2px;
  border-radius: 1.5px;
  background-color: white;
  transition: 0.4s;
}
.header > .cart > .menu-container > .Humburger > div::before {
  top: -10px;
  left: 0;
}
.header > .cart > .menu-container > .Humburger > div::after {
  top: 10px;
  left: 0;
}
.header > .cart > .menu-container > .toggler:checked + .Humburger div {
  transform: rotate(135deg);
  text-align: center;
}
.header > .cart > .menu-container > .toggler:checked + .Humburger div::before,
.header > .cart > .menu-container > .toggler:checked + .Humburger div::after {
  transform: rotate(90deg);
  top: 0;
  right: 0;
}
.header > .cart > .menu-container > .toggler:checked ~ .menu {
  visibility: visible;
}
.header > .cart > .menu-container > .toggler:checked ~ .menu div {
  transform: translateX(-50%) translateY(-50%);
}
.header > .cart > .menu-container > .menu {
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: 0.6s;
}
.header > .cart > .menu-container > .menu > div {
  position: absolute;
  width: 1600px;
  height: 1600px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-150%) translateY(-50%);
  background-color: #303030;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header > .cart > .menu-container > .menu > div > div {
  max-width: 0vw;
  max-height: 0vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 0px 15px;
}
.header > .cart > .menu-container > .menu > div > div > ul {
  list-style: none;
}
.header > .cart > .menu-container > .menu > div > div > ul > li > a {
  margin: 0.5rem;
  display: block;
  font-size: 1.5rem;
  font-weight: 550;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;
  font-family: Quicksand;
  letter-spacing: 1.5px;
}

.header > .cart > .menu-container > .menu > div > div > ul > li > a:hover {
  color: rgb(214, 42, 71);
  text-decoration: none;
}

/* Main Content Styling */
#carousel {
  margin: 50px 0px 100px 0px;
}

.content {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
.Heading {
  text-align: center;
  font-family: Julius Sans One;
  margin: 50px 0;
  position: relative;
}
.Heading > h3 {
  font-size: 30px;
  font-weight: 600;
}
.Heading > h3::before {
  content: "";
  text-align: center;
  height: 2px;
  background-color: rgb(214, 42, 71);
  width: 90px;
  position: absolute;
  top: 40px;
  left: 45%;
}
.block {
  max-width: 100%;
  width: 100%;
}
.animatable {
  visibility: hidden;
  animation-play-state: paused;
}
.animated {
  visibility: visible;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-play-state: running;
}
.animated.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated.animationDelay {
  animation-delay: 0.4s;
}
.animated.animationDelayMed {
  animation-delay: 1.2s;
}
.animated.animationDelayLong {
  animation-delay: 1.6s;
}

.product-content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.product-content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.product-content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out 0s;
}
.fadeIn-bottom {
  top: 80%;
}
.product-content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.content-details > h1 {
  background-color: rgb(214, 42, 71);
  height: 2px;
  width: 20%;
  position: relative;
  left: 40%;
}

.content-details p {
  color: #fff;
  font-size: medium;
  font-family: Julius Sans One;
}

.content-details > a {
  padding: 8px 13px;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  background-color: whitesmoke;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
  color: #303030;
}
.content-details > a > i {
  color: #303030;
  font-size: small;
  transition: all ease-in 0.5s;
}

.content-details > a:hover {
  background-color: rgb(214, 42, 71);
  color: white;
  text-decoration: none;
}
.content-details > a:hover > i {
  color: white;
}
.Advertisement {
  margin-top: 20px;
  margin-bottom: 100px;
  background-color: #303030;
  height: 150px;
  color: white;
  position: relative;
}
.Advertisement > h3 {
  position: absolute;
  top: 30px;
  left: 100px;
  font-family: Julius Sans One;
  font-size: 30px;
}
.Advertisement > h5 {
  position: absolute;
  top: 60px;
  left: 250px;
  font-size: 40px;
  font-family: Julius Sans One;
  margin: 10px 0;
  padding: 10px 15px;
  background-color: rgb(214, 42, 71);
}
.Advertisement > p {
  position: absolute;
  top: -75px;
  left: 50%;
  font-size: 14rem;
  font-family: Josefin Sans;
  font-weight: bolder;
}
.Advertisement > span {
  position: absolute;
  left: 64.7%;
  top: 30px;
  font-size: 3.6rem;
}
.Advertisement > button {
  position: absolute;
  top: 53px;
  right: 100px;
  padding: 10px 18px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.6s ease-in-out;
}
.Advertisement > button:hover {
  background-color: rgb(214, 42, 71);
  color: white;
}
.Selling-products {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-row-gap: 30px;
  justify-self: center;
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}
.Selling-products > .SP1 {
  font-family: Poppins;
}
.Selling-products > .SP1 > .Image > img {
  max-width: 100%;
  width: 80%;
  height: auto;
}
.Selling-products > .SP1 > .Details {
  padding: 5px 8px;
  margin-top: 10px;
}
.Selling-products > .SP1 > .Details > h2 {
  font-size: 25px;
  color: #202020;
  font-weight: 400;
  text-transform: capitalize;
}
.Selling-products > .SP1 > .Details > span > i {
  color: #707070;
  font-size: small;
}
.Selling-products > .SP1 > .Details > p {
  font-family: Julius Sans One;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 5px 0px;
  color: #202020;
}
.Selling-products > .SP1 > .Details > button {
  border: 1px solid black;
  background-color: transparent;
  padding: 8px 12px;
  transition: all 0.9s ease-in-out;
}
.Selling-products > .SP1 > .Details > button:hover {
  box-shadow: inset 200px 0 0 0 rgb(214, 42, 71);
  color: white;
  border: 1px solid rgb(214, 42, 71);
}

/* 2nd Product */

.Selling-products > .SP2 {
  font-family: Poppins;
}
.Selling-products > .SP2 > .Image > img {
  max-width: 100%;
  width: 80%;
  height: auto;
}
.Selling-products > .SP2 > .Details {
  padding: 5px 8px;
  margin-top: 10px;
}
.Selling-products > .SP2 > .Details > h2 {
  font-size: 25px;
  color: #202020;
  font-weight: 400;
  text-transform: capitalize;
}
.Selling-products > .SP2 > .Details > span > i {
  color: #707070;
  font-size: small;
}
.Selling-products > .SP2 > .Details > p {
  font-family: Julius Sans One;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 5px 0px;
  color: #202020;
}
.Selling-products > .SP2 > .Details > button {
  border: 1px solid black;
  background-color: transparent;
  padding: 8px 12px;
  transition: all 0.9s ease-in-out;
}
.Selling-products > .SP2 > .Details > button:hover {
  box-shadow: inset 200px 0 0 0 rgb(214, 42, 71);
  color: white;
  border: 1px solid rgb(214, 42, 71);
}

/* 3rd Product */

.Selling-products > .SP3 {
  font-family: Poppins;
}
.Selling-products > .SP3 > .Image > img {
  max-width: 100%;
  width: 80%;
  height: auto;
}
.Selling-products > .SP3 > .Details {
  padding: 5px 8px;
  margin-top: 10px;
}
.Selling-products > .SP3 > .Details > h2 {
  font-size: 25px;
  color: #202020;
  font-weight: 400;
  text-transform: capitalize;
}
.Selling-products > .SP3 > .Details > span > i {
  color: #707070;
  font-size: small;
}
.Selling-products > .SP3 > .Details > p {
  font-family: Julius Sans One;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 5px 0px;
  color: #202020;
}
.Selling-products > .SP3 > .Details > button {
  border: 1px solid black;
  background-color: transparent;
  padding: 8px 12px;
  transition: all 0.9s ease-in-out;
}
.Selling-products > .SP3 > .Details > button:hover {
  box-shadow: inset 200px 0 0 0 rgb(214, 42, 71);
  color: white;
  border: 1px solid rgb(214, 42, 71);
}
/* 4th Product */
.Selling-products > .SP4 {
  font-family: Poppins;
}
.Selling-products > .SP4 > .Image > img {
  max-width: 100%;
  width: 80%;
  height: auto;
}
.Selling-products > .SP4 > .Details {
  padding: 5px 8px;
  margin-top: 10px;
}
.Selling-products > .SP4 > .Details > h2 {
  font-size: 25px;
  color: #202020;
  font-weight: 400;
  text-transform: capitalize;
}
.Selling-products > .SP4 > .Details > span > i {
  color: #707070;
  font-size: small;
}
.Selling-products > .SP4 > .Details > p {
  font-family: Julius Sans One;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 5px 0px;
  color: #202020;
}
.Selling-products > .SP4 > .Details > button {
  border: 1px solid black;
  background-color: transparent;
  padding: 8px 12px;
  transition: all 0.9s ease-in-out;
}
.Selling-products > .SP4 > .Details > button:hover {
  box-shadow: inset 200px 0 0 0 rgb(214, 42, 71);
  color: white;
  border: 1px solid rgb(214, 42, 71);
}

/* 5th Product */
.Selling-products > .SP5 {
  font-family: Poppins;
}
.Selling-products > .SP5 > .Image > img {
  max-width: 100%;
  width: 80%;
  height: auto;
}
.Selling-products > .SP5 > .Details {
  padding: 5px 8px;
  margin-top: 10px;
}
.Selling-products > .SP5 > .Details > h2 {
  font-size: 25px;
  color: #202020;
  font-weight: 400;
  text-transform: capitalize;
}
.Selling-products > .SP5 > .Details > span > i {
  color: #707070;
  font-size: small;
}
.Selling-products > .SP5 > .Details > p {
  font-family: Julius Sans One;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 5px 0px;
  color: #202020;
}
.Selling-products > .SP5 > .Details > button {
  border: 1px solid black;
  background-color: transparent;
  padding: 8px 12px;
  transition: all 0.9s ease-in-out;
}
.Selling-products > .SP5 > .Details > button:hover {
  box-shadow: inset 200px 0 0 0 rgb(214, 42, 71);
  color: white;
  border: 1px solid rgb(214, 42, 71);
}
/* 6th Product */

.Selling-products > .SP6 {
  font-family: Poppins;
}
.Selling-products > .SP6 > .Image > img {
  max-width: 100%;
  width: 80%;
  height: auto;
}
.Selling-products > .SP6 > .Details {
  padding: 5px 8px;
  margin-top: 10px;
}
.Selling-products > .SP6 > .Details > h2 {
  font-size: 25px;
  color: #202020;
  font-weight: 400;
  text-transform: capitalize;
}
.Selling-products > .SP6 > .Details > span > i {
  color: #707070;
  font-size: small;
}
.Selling-products > .SP6 > .Details > p {
  font-family: Julius Sans One;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 5px 0px;
  color: #202020;
}
.Selling-products > .SP6 > .Details > button {
  border: 1px solid black;
  background-color: transparent;
  padding: 8px 12px;
  transition: all 0.9s ease-in-out;
}
.Selling-products > .SP6 > .Details > button:hover {
  box-shadow: inset 200px 0 0 0 rgb(214, 42, 71);
  color: white;
  border: 1px solid rgb(214, 42, 71);
}

.Parallax {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.Parallax > video {
  max-width: 100%;
  width: 100%;
}
.Parallax > .overlay {
  background: black;
  width: 100%;
  max-height: 100%;
  height: 100%;
  position: absolute;
  top: -7px;
  opacity: 0.6;
  z-index: 99;
}
.Parallax > h5 {
  position: absolute;
  top: 37%;
  left: 33%;
  color: white;
  z-index: 999;
  font-family: Padauk;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.Parallax > h3 {
  position: absolute;
  top: 47%;
  left: 17%;
  color: rgb(214, 42, 71);
  z-index: 999;
  font-family: Padauk;
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}
.Brands {
  margin: 100px 0;
}
/* Footer */

.footer {
  background-color: #202020;
  width: 100%;
  position: relative;
  z-index: 999;
}

.Footer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-self: center;
  grid-gap: 20px;
  color: white;
}
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
}
.Footer > .Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
  position: relative;
}

.Footer > .Contact > h2 {
  font-family: Padauk;
  text-transform: uppercase;
  font-size: 25px;
  color: #e6e6e6;
  letter-spacing: 1px;
}
.Footer > .Contact > h2::after {
  content: "";
  height: 1px;
  width: 10%;
  position: absolute;
  top: 30px;
  left: 0;
  background: rgb(214, 42, 71);
}
.Footer > .Contact > h3 {
  font-family: Padauk;
  text-transform: uppercase;
  font-size: 18px;
  color: #e6e6e6;
  letter-spacing: 1px;
}
.Footer > .Contact > h4 {
  font-family: Padauk;
  text-transform: uppercase;
  font-size: 18px;
  color: #e6e6e6;
  letter-spacing: 1px;
  margin-top: 10px;
}
.Footer > .Contact > span {
  font-family: Padauk;
  font-size: 15px;
  color: #a8a8a8;
  letter-spacing: 1px;
}
.Footer > .Contact > span > a {
  color: #a8a8a8;
}
.Footer > .Contact > .Social {
  margin-top: 50px;
}
.Footer > .Contact > .Social > a {
  border: 1px solid rgb(107, 107, 107);
  padding: 6px 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.Footer > .Contact > .Social > a:hover {
  background: rgb(214, 42, 71);
  border: 1px solid rgb(214, 42, 71);
}
.Footer > .Contact > .Social > a > i {
  color: whitesmoke;
}
.Footer > .Service {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  position: relative;
}
.Footer > .Service > h2::before {
  content: "";
  height: 1px;
  width: 10%;
  position: absolute;
  top: 30px;
  left: 0;
  background: rgb(214, 42, 71);
}
.Footer > .Service > h2 {
  font-family: Padauk;
  text-transform: uppercase;
  font-size: 25px;
  color: #e6e6e6;
  letter-spacing: 1px;
}
.Footer > .Service > a {
  padding: 5px 0px;
  font-size: 15px;
  color: #a8a8a8;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: all 0.6s ease-in-out;
}
.Footer > .Service > a:hover {
  text-decoration: none;
  color: rgb(214, 42, 71);
}
.Footer > .Location {
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}
.Footer > .Location > h2 {
  font-family: Padauk;
  text-transform: uppercase;
  font-size: 25px;
  color: #e6e6e6;
  letter-spacing: 1px;
}
.Footer > .Location > h2::after {
  content: "";
  height: 1px;
  width: 10%;
  position: absolute;
  top: 30px;
  left: 0;
  background: rgb(214, 42, 71);
}
.mapouter {
  margin-top: 20px 0;
  max-width: 100%;
  width: 100%;
}
iframe {
  border: none;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
}
.subscribe {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.subscribe > form > input {
  padding: 10px 15px;
  border: none;
}
.subscribe > form > input:focus {
  border: none;
  outline: none;
}
.subscribe > form > button {
  padding: 10px 15px;
  border: none;
  color: white;
  background-color: rgb(214, 42, 71);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
}
.subscribe > form > button:focus {
  outline: none;
  border: none;
}
.subscribe > .copyright > p {
  color: #a8a8a8;
  font-size: small;
  font-family: Quicksand;
  margin-top: 18px;
}
.subscribe > .payment > img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Table Landscape view */
@media screen and (max-width: 1199px) {
  .content {
    grid-gap: 5px;
  }
  .Advertisement {
    margin-top: 5px;
  }
  .Advertisement > h5 {
    left: 180px;
  }
  .Advertisement > span {
    left: 67.5%;
  }
  .Advertisement > button {
    right: 40px;
  }
  .Parallax > h5 {
    left: 30%;
  }
  .Parallax > h3 {
    left: 10%;
  }
  .Footer {
    grid-gap: 5px;
  }
}

/* Tablet Portrait  view*/
@media screen and (max-width: 999px) {
  .header > nav > ul > li {
    margin-left: 0;
    margin-right: 0;
  }
  .header > nav > ul > li > a {
    padding: 10px 10px;
  }
  .header > .logo {
    padding: 5px 0;
  }
  .header > .logo > a > img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .Advertisement {
    height: 130px;
    margin-top: 70px;
  }
  .Advertisement > h5 {
    font-size: 23px;
    left: 80px;
    top: 55px;
  }
  .Advertisement > h3 {
    font-size: 20px;
    top: 30px;
    left: 40px;
  }
  .Advertisement > p {
    font-size: 12rem;
    top: -63px;
    left: 38%;
  }
  .Advertisement > span {
    font-size: 2.5rem;
    left: 59%;
  }
  .Parallax > h5 {
    left: 32%;
    font-size: 30px;
  }
  .Parallax > h3 {
    left: 16%;
    font-size: 50px;
  }

  .Footer > .Contact > h2 {
    font-size: 20px;
  }
  .Footer > .Contact > h3 {
    font-size: 14px;
  }
  .Footer > .Contact > span {
    font-size: 13px;
  }
  .Footer > .Service > h2 {
    font-size: 20px;
  }
  .Footer > .Service > a {
    font-size: 13px;
  }
  .Footer > .Location > h2 {
    font-size: 20px;
  }
  .subscribe > .copyright > p {
    font-size: 10px;
  }
  .subscribe > form > input {
    padding: 8px 8px;
    font-size: 10px;
  }
  .subscribe > form > button {
    padding: 8px 8px;
    font-size: 10px;
  }
  .subscribe > form {
    padding: 0;
    margin: 0;
  }
}

/* Mobile Landscape */
@media screen and (max-width: 767px) {
  .header {
    display: grid;
    grid-template-columns: 25% 75%;
  }
  .header > nav {
    display: none;
  }
  .Heading > h3::before {
    top: 40px;
    left: 40%;
  }
  .header > .cart {
    right: 50px;
    top: 2px;
  }
  .header > .cart > .menu-container {
    display: block;
    position: relative;
    margin: 0 -25px;
  }
  .Advertisement {
    height: 100px;
  }
  .Advertisement > h3 {
    top: 20px;
    font-size: 15px;
  }
  .Advertisement > h5 {
    font-size: 17px;
    top: 35px;
    left: 10%;
  }
  .Advertisement > p {
    font-size: 9.5rem;
    top: -50px;
  }
  .Advertisement > span {
    top: 20px;
    left: 59.7%;
    font-size: 40px;
  }
  .Advertisement > button {
    top: 35px;
    right: 20px;
    font-size: 10px;
    padding: 8px 10px;
  }
  .Selling-products {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .Parallax > h5 {
    top: 25%;
    left: 25%;
  }
  .Parallax > h3 {
    font-size: 2.5rem;
    top: 40%;
    left: 12%;
  }
  .Brands {
    margin: 50px 0;
  }
  .Footer {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .subscribe > form {
    margin-bottom: 20px;
  }
  .content-details > h3 {
    font-size: 18px;
  }
  .content-details > p {
    font-size: 10px;
  }
  .content-details > a {
    font-size: 10px;
    padding: 5px 8px;
  }
  .content-details > a > i {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper > .title {
    display: none;
  }
  .header {
    display: grid;
    grid-template-columns: 50% 45%;
  }
  .header > .cart {
    top: 3px;
    right: 30px;
  }
  .header > .cart > .menu-container > .toggler {
    right: 0px;
  }
  #carousel {
    margin: 50px 0;
  }
  .content {
    display: grid;
    grid-template-columns: 100%;
  }
  .Heading {
    margin: 10px 0;
  }
  .Heading > h3::before {
    width: 60px;
    top: 30px;
    left: 40%;
  }
  .Heading > h3 {
    font-size: 20px;
  }
  .header > .cart > .menu-container {
    right: 50px;
    margin: 0 -10px;
  }
  .Advertisement {
    height: 80px;
  }
  .Advertisement > h3 {
    font-size: 10px;
    left: 8px;
  }
  .Advertisement > h5 {
    font-size: 13px;
    top: 34%;
    left: 20px;
    padding: 5px 8px;
  }
  .Advertisement > p {
    top: -40px;
    left: 32%;
    font-size: 7.5rem;
  }
  .Advertisement > span {
    font-size: 2rem;
    top: 16px;
    left: 58%;
  }
  .Advertisement > button {
    font-size: 8px;
    padding: 5px 5px;
    right: 10px;
    top: 31px;
  }
  .Selling-products {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 50px;
  }

  .Parallax > h5 {
    font-size: 1.3rem;
    left: 27%;
    top: 32%;
  }
  .Parallax > h3 {
    font-size: 1.7rem;
    left: 13%;
    top: 48%;
  }
  .Brands {
    margin: 25px 0;
  }
  .subscribe > form > input {
    font-size: 12px;
  }
  .subscribe > form > button {
    font-size: 11px;
    padding: 10px 15px;
  }
  .Footer {
    display: grid;
    grid-template-columns: 100%;
  }
}
